@import url('https://fonts.googleapis.com/css?family=indie+flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    font-family: 'indie flower', cursive !important;
    /* background: #fDE3A7; */
    background: #FFC0CB;
    margin: 0px;
    padding: 0px;
}

.heart {
    height: 20px;
    width: 20px;
    background: #f20040;
    position: relative;
    transform: rotate(-45deg);
    align-items: center;
    display: flex;
    min-height: 0vh;
    text-align: center;
    text-decoration: underline;
    box-shadow: -10px 10px 90px #eb406d;
    animation: heart 0.8s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1.0);
    }

    100% {
        transform: rotate(-45deg) scale(0.7);
    }
}

.heart:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20040;
}

.heart:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20040;
}

::selection {
    background: transparent;
}

h4 {
    font-size: 26px;
    line-height: 1px;
    font-family: 'Amatic SC', cursive !important;
}

.color1 {
    color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color2 {
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencet {
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.textco{
    position: relative;
    width: 1475px;
    margin: 0 auto;
}

.t {
   left: 2%;
   width: 180px;
   height: 100%;
   position: relative;
   margin-right: auto;
}

.t2{
    right: 2%;
    width: 100%;
    height: 100%;
    position: relative;
}

.colort{
    font-size: 18px;
    margin-right: auto;
    width: 180px;
    flex-direction: row;
    color: antiquewhite;
}

.right{ 
    margin: 1px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: antiquewhite;
}

.card {
    color: #013243;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 500px;
    background: #e0e1dc;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 20px 0 60px rgba(0, 0, 0, .5);
    transition: 1s;
}

.card:hover {
    transform: translate(-50%, -50%) perspective(2000px) rotate(15deg) scale(1.2);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100px;
    height: 5px;
    background: #BAC1BA;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #92A29C;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: .7s;
}

.card .bark {
    position: absolute;
    background: #e0e1dc;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .7s;
}

.card .imgBox img {
    min-width: 320px;
    max-height: 500px;
}

.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card:hover .bark {
    opacity: 1;
    transition: .6s;
    box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    z-index: -1;
    margin-top: 70px;
}

.card .details p {
    font-size: 15px;
    line-height: 5px;
    transform: rotate(-10deg);
    padding: 0 0 0 20px;
}

.card .detais h4 {
    text-align: center;
}

.container {
    height: auto;
}

.ketik {
    display: inline-block;
    margin-left: 95px;
}

.ketik2 {
    display: inline-block;
    margin-left: 50px;
}

.ketik3 {
    display: inline-block;
    margin-left: 100px;
}

.text {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    animation: typing 3s steps(40, end) 1;
}

.text2 {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    animation: typing 3s steps(40, end) 1 3s forwards;
    opacity: 0;
}

.text3 {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    animation: typing 3s steps(40, end) 1 6s forwards;
    opacity: 0;
}



@keyframes typing {
    from {
        opacity: 1;
        width: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}


@keyframes bounce {
    0% {
        transform: translateX(-100%) translateY(0) scale(1) rotate(0);
    }

    20% {
        opacity: 1;
        transform: translateX(50%) translateY(-200px) scale(1.2) rotate(20deg);
    }

    50% {
        transform: translateX(50%) translateY(0) scale(1) rotate(0);
    }

    70% {
        transform: translateX(50%) translateY(-100px) scale(1.1) rotate(-10deg);
    }

    90% {
        transform: translateX(50%) translateY(0) scale(1) rotate(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1) rotate(0);
    }
}

.bounce {
    height: auto;
    width: 95%;
    animation: bounce 3s ease-in-out 9s forwards;
    opacity: 0;
}

.text-right {
    text-align: right;
}

.text-right2 {
    text-align: right;
    text-decoration: underline;
}